body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.road{
  width:500px;
  height:700px;
  position:relative;
  
}
.road img{
  width:500px;
  height:700px;
}
.car1,.car2,.car3,.car4{
  height:50px;
  width:50px;
  background-color: red;
  position:absolute;
  top:0;
}
.car1{
  left:75px;
  transition: top 3s;
}
.car2{
  left:175px;
  transition: top 2s;
}
.car3{
  left:275px;
  transition: top 4s;
}
.car4{
  left:375px;
  transition: top 3s;
}
